# external requirements
click
Sphinx
coverage
awscli==1.32.113
flake8
fastapi
mlflow
fastapi
boto3
botocore==1.34.113
catboost
joblib
numpy
requests
geopandas
shapely
catboost
scikit-learn
geopy
scipy
pandas
uvicorn
python-dotenv>=0.5.1
